<mat-sidenav-container [class.myapp-dark-theme]="darkTheme">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar (NavClick)="sidenav.toggle()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="site" fxLayout="column">
      <header>
        <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event.checked)">

        </app-header>
      </header>
      <main fxFlex="1" fxLayout="column" fxLayoutAlign="center">
        <router-outlet></router-outlet>
      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
